# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Arc.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vanya\Documents\UnityProjects\Arc\.idea\.idea.Arc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
